#box{
	width: 300px;
	height: 417px;
	border-top: 2px solid #206f96;
}
#head{
	width: 298px;
	height: 29px;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	background: url(../img/title_bg.jpg) repeat-x;
}
#content{
	width: 298px;
	height: 386px;
	border: 1px solid #cfcfcf;
}
#item1{
	width: 298px;
	height: 57px;
	background-color: #ffffff;
	background: #fff url(../img/item1_bg.jpg) no-repeat 16px 25px;
}
#item2{
	width: 298px;
	height: 126px;
	background: #f7f7f7 url(../img/item2_bg.jpg) no-repeat 9px 51px;
}
#item3{
	width: 298px;
	height: 76px;
	background: #fff url(../img/item3_bg.jpg) no-repeat 15px 25px;
}
#item4{
	width: 298px;
	height: 127px;
	background: #f7f7f7 url(../img/item4_bg.jpg) no-repeat 12px 49px;
}